<h1>수정하기</h1>
<p>글을 수정합니다</p>

<%= form_tag("/posts/#{@post.id}", method: "put") do %>
  제목 : <%= text_field_tag("post[title]", @post.title) %><br>
  내용 : <%= text_area_tag("post[content]", @post.content) %><br>
  <%= submit_tag("수정하기") %>
<% end %>
